.wrapper {
	max-width: 1400px;
	margin: 50px auto;
	padding-bottom: 50px;
	background-color: var(--color-white);
	border-radius: 12px;
	column-gap: 30px;
}

.categories-and-sorting {
	padding: 60px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 1024px) {
		flex-direction: column-reverse;
		align-items: flex-start;
		row-gap: 30px;
	}
}

.title {
	font-weight: 700;
	font-size: 32px;
	&:not(:last-child) {
		margin-bottom: 35px;
	}
}

.products__row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 50px 15px;
}
