@import url("https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700,800&display=swap");
@import "./base/reset";
@import "./base/colors";
@import "./base/_tools";
@import "./base/common";
@import "./components/_header";
@import "./components/categories";
@import "./components/sort";
@import "./components/product";

body {
	font-family: "Mulish", sans-serif;
	font-size: 16px;
	background-color: var(--color-yellow);
}
