@import url("https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700,800&display=swap");
@import "./base/reset";
@import "./base/colors";
@import "./base/_tools";
@import "./components/_header";

body {
	font-family: "Mulish", sans-serif;
	font-size: 16px;
	background-color: var(--color-yellow);
}

.wrapper {
	max-width: 1400px;
	margin: 50px auto;
	background-color: var(--color-white);
	border-radius: 12px;
}
